.section {
	position: relative;
	width: 250vh;
	height: 100vh;
  display: flex;
	background-color: #D8D8D8;
  padding: 0 13.33vh;
}

.left {
  width: 21%;
  padding-top: 20vh;
  margin-right: 8.89vh;
}

.text {
  color: #121212;
	font: 500 5.33vh/98.49% "New York Extra Large", serif;
	letter-spacing: -0.06em;
  margin-bottom: 9.2vh;
  white-space: pre-wrap;
}

.button {
  width: fit-content;
  transform: rotate(-30deg);
}

.right {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-top: 5.2vh;
}

.image1 {
  padding-left: 12.89vh;
  height: 74.67vh;
  z-index: 2;
}

.image {
  height: 75vh;
  z-index: 2;
}

.image2 {
  composes: image;
  margin-left: -20vh;
  padding-top: 1.67vh;
}

.image3 {
  composes: image;
  margin-left: -29vh;
  padding-top: 1.67vh;
}

.title {
  position: absolute;
  bottom: 7vh;
  color: #121212;
	font: 600 24vh/98.49% "New York Extra Large", serif;
	letter-spacing: -0.06em;
  z-index: 1;
}