.cart {
	cursor: pointer;
	position: fixed;
	top: 3.56vh;
	right: 7.11vh;
	display: flex;
	align-items: center;
	font: 600 2.67vh/3.2vh "Neue Haas Grotesk Display Pro", Arial, Helvetica,
		sans-serif;
	letter-spacing: 0.12em;
	z-index: 4;
}

.text {
	color: #4d4d4d;
	text-transform: uppercase;
}

.number {
	width: 2.78vh;
	height: 2.78vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ff4040;
	color: #fff;
	font-size: 1.33vh;
	line-height: 1.22vh;
	letter-spacing: 0;
	margin-left: 0.33vh;
	border-radius: 100%;
}
