@import "../../common/include-media";

.gallery {
	position: absolute;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: #f5f5f5;

	@include media(">mobile") {
		width: 94vw;
	}
	@include media("<=mobile") {
		width: 100%;
	}
}

.header {
	position: fixed;
	color: transparent;
	font: 600 44.444vh/98.49% "New York Extra Large", serif;
	letter-spacing: -0.01em;
	text-stroke: 1px #898989;
	-webkit-text-stroke: 1px #898989;
	opacity: 0;

	@include media(">mobile") {
		margin-left: -1rem;
	}
	@include media("<=mobile") {
		font-size: 9.375rem;
	}
}

.grid {
	width: 100%;
	display: grid;

	@include media(">mobile") {
		grid-template-columns: repeat(3, 1fr);
		column-gap: 6.67vh;
		padding: 0 6.78vh;
	}
	@include media("<=mobile") {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 1.5rem;
		padding: 3.75rem 1.5rem 0;
	}
}

.column {
	display: flex;
	flex-direction: column;
}

.desktopColumn {
	composes: column;
	row-gap: 6.67vh;
	margin-bottom: 10vh;

	@include media("<=mobile") {
		display: none;
	}
}

.mobileColumn {
	composes: column;
	row-gap: 1.5rem;

	@include media(">mobile") {
		display: none;
	}
}

.middleColumn {
	composes: desktopColumn;
	margin-top: 10vh;
}

.leftColumn {
	composes: mobileColumn;
	height: fit-content;
}

.rightColumn {
	composes: mobileColumn;
	height: fit-content;
	margin: 3.5rem 0;
}

.image {
	object-fit: cover;

	@include media(">mobile") {
		width: 41.167vh;
		height: 46.67vh;
		visibility: hidden;
	}
	@include media("<=mobile") {
		width: 100%;
		height: auto;
		visibility: hidden;
	}
}
