.button {
	cursor: pointer;
	width: 18vh;
	height: 18vh;
	border: none;
	border-radius: 100%;
}

.large {
	width: 20vh;
	height: 20vh;
}

.red {
	composes: button;
	background-color: #ff4040;
}

.greige {
	composes: button;
	background-color: #d0c2c2;
}

.text {
  color: #ffffff;
	font: 700 2.2vh/150% "Neue Haas Grotesk Display Pro", Arial, Helvetica,
		sans-serif;
	letter-spacing: 0.265em;
  text-transform: uppercase;
}
