@import "../../common/include-media";

.button {
	cursor: pointer;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	border-radius: 100%;
	transition: transform 300ms ease;

	&:hover > div {
		transform: scale(1.35);
	}

	@include media(">mobile") {
		width: 18vh;
		height: 18vh;
	}
	@include media("<=mobile") {
		width: 7.5rem;
		height: 7.5rem;
	}
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 100%;
	transition: transform 350ms ease;
}

.large {
	@include media(">mobile") {
		width: 20vh;
		height: 20vh;
	}
	@include media("<=mobile") {
		width: 9.625rem;
		height: 9.625rem;
	}
}

.red {
	background-color: #ff4040;
}

.greige {
	background-color: #d0c2c2;
}

.text {
	width: fit-content;
	color: #ffffff;
	font: 700 2.2vh/150% "Neue Haas Grotesk Display Pro", Arial, Helvetica,
		sans-serif;
	letter-spacing: 0.265em;
	text-transform: uppercase;
	z-index: 2;

	@include media('<=mobile') {
		font-size: 1.075rem;
	};
}

.arrow {
	z-index: 2;

	@include media('<=mobile') {
		width: 4.15rem;
	};
}
