@import "../../common/include-media";

.credits {
	width: 94vw;
	height: 100vh;
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(20, 1fr);
	background: #3a3a3a;
}

.textTypeOne {
	color: #fff;
	font: 600 4vh/100.99% "New York Extra Large", serif;
	letter-spacing: -0.06em;
	white-space: pre-wrap;
}

.textTypeTwo {
	color: #fff;
	color: #e9e9e9;
	text-transform: uppercase;
	font: 600 1.78vh/150% "Neue Haas Grotesk Display Pro", Arial, Helvetica,
		sans-serif;
	letter-spacing: 0.105em;
	white-space: pre-wrap;
}

.textTypeThree {
	color: #fff;
	font: 500 2.22vh/150% "Neue Haas Grotesk Display Pro", Arial, Helvetica,
		sans-serif;
	white-space: pre-wrap;
}

.box {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.quoteOne {
	composes: textTypeOne;
	grid-column-start: 3;
	grid-column-end: 9;
	grid-row-start: 2;
	grid-row-end: 4;
}

.quoteTwo {
	composes: textTypeOne;
	grid-column-start: -2;
	grid-column-end: -8;
	grid-row-start: 2;
	grid-row-end: 4;
}

.button {
	display: flex;
	justify-content: flex-start;
	transform: scaleX(-1);
	grid-column-start: -2;
	grid-column-end: -5;
	grid-row-start: 5;
	grid-row-end: 7;
}

.credit1 {
	composes: box;
	grid-column-start: 5;
	grid-column-end: 8;
	grid-row-start: 5;
	grid-row-end: 7;
}

.credit2 {
	composes: box;
	grid-column-start: -11;
	grid-column-end: -7;
	grid-row-start: 5;
	grid-row-end: 7;
}

.creditTitle {
	composes: textTypeTwo;
	margin-bottom: 1.33vh;
}

.media {
	display: flex;
	column-gap: 1rem;
	margin-top: 3.33vh;

	& > svg {
		cursor: pointer;
	}
}

.icon {
	& > svg {
		width: 4.44vh;
		height: 4.44vh;
	}
}

.box1 {
	composes: box;
	grid-column-start: 3;
	grid-column-end: 7;
	grid-row-start: -2;
	grid-row-end: -3;
}

.box2 {
	composes: box;
	grid-column-start: -2;
	grid-column-end: -6;
	grid-row-start: -2;
	grid-row-end: -3;
	text-align: right;
}

.boxTitle {
	composes: textTypeTwo;
	color: #e9e9e9;
	text-transform: uppercase;
	margin-bottom: 1.11vh;
}

.bold {
	color: inherit;
	font-weight: 600;
	text-decoration: none;
}
