@import "../../common/include-media";

.menu {
	position: fixed;
	right: 0;
	bottom: 0;
	display: grid;
	grid-auto-rows: minmax(min-content, max-content);
	background-color: #fff;
	z-index: 5;
	clip-path: inset(0% 0% 100% 0%);

	@include media(">mobile") {
		top: 0;
		width: 94vw;
		height: 100vh;
		gap: 8.89vh;
		padding: 14.44vh 0 18.44vh 12.56vh;
		border-left: 1px solid #000;
	}
	@include media("<=mobile") {
		left: 0;
		width: 100vw;
		height: calc(100% - 3.75rem);
		gap: 3rem;
		padding: 10rem 0 18.1875rem 1.5rem;
		border-top: 1px solid #000;
	}
}

.menuItem {
	height: 115%;
	cursor: pointer;
	width: fit-content;
	font: 600 16.67vh/98.49% "New York Extra Large", serif;
	color: transparent;

	@include media(">mobile") {
		letter-spacing: -0.06em;
		padding-right: 2vh;
		text-stroke: 1.5px rgb(0, 0, 0);
		-webkit-text-stroke: 1.5px rgb(0, 0, 0);
	}
	@include media("<=mobile") {
		font-size: 4rem;
		white-space: nowrap;
		letter-spacing: -0.03em;
		text-stroke: 1px rgb(0, 0, 0);
		-webkit-text-stroke: 1px rgb(0, 0, 0);
	}
}

.icon {
	opacity: 0;

	@include media(">mobile") {
		margin-left: 2rem;
	}
	@include media("<=mobile") {
		width: 2.5rem;
		height: 2.5rem;
		margin: auto 0 auto 1rem;
	}
}

.close {
	cursor: pointer;
	position: absolute;
	stroke-dasharray: 130;
	stroke-dashoffset: 130;

	& > circle {
		stroke-dasharray: 400;
		stroke-dashoffset: -400;
	}

	@include media(">mobile") {
		top: 7.11vh;
		right: 7.11vh;
		width: 14.22vh;
		height: 14.22vh;
	}
	@include media("<=mobile") {
		top: 2.375rem;
		right: 1.5rem;
		width: 5rem;
		height: 5rem;
	}
}
