.section {
	position: relative;
	width: 150vh;
	height: 100vh;
	display: flex;
  justify-content: space-between;
	background-color: #121212;
	color: #ffffff;
}

.textWrapper {
	height: 100%;
	width: 51%;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 20vh 6.44vh 0 13.44vh;
  z-index: 1;
}

.title {
	font: 600 8vh/98.49% "New York Extra Large", serif;
	letter-spacing: -0.06em;
	white-space: pre-wrap;
	margin-bottom: 6.3vh;
}

.text {
	color: #DDDDDD;
	font: 500 2.35vh/150% "Neue Haas Grotesk Display Pro", Arial, Helvetica,
		sans-serif;
	text-align: justify;
	white-space: pre-wrap;
  mix-blend-mode: difference;
}

.imageWrapper {
  position: relative;
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: flex-end;
  padding: 20vh 13.33vh 0 0;
}

.image {
  width: auto;
  height: 71.6vh;
}

.svg {
  position: absolute;
  left: -10.12vh;
  bottom: 10vh;
}
