.section {
	position: relative;
	width: 150vh;
	height: 100vh;
	display: flex;
	background-color: #ffffff;
	color: #000000;
}

.left {
	position: relative;
	width: 58%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 20.22vh 6.78vh 20vh 18.89vh;
}

.title {
	font: 600 8vh/98.49% "New York Extra Large", serif;
	letter-spacing: -0.06em;
	white-space: pre-wrap;
}

.bronze {
	color: #bd9f68;
}

.scribble {
	position: absolute;
	left: 22.87vh;
	bottom: -3vh;
}

.right {
	width: 42%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 19vh 8vh 18vh;
}

.header {
	font: 300 5.33vh/98.49% "New York Extra Large", serif;
	letter-spacing: -0.06em;
	white-space: pre-wrap;
}

.line {
	align-self: center;
}

.text {
	font: 500 2.35vh/150% "Neue Haas Grotesk Display Pro", Arial, Helvetica,
		sans-serif;
	text-align: justify;
	white-space: pre-wrap;
}
