@import "../../common/include-media";

.preloaderContainer {
	position: fixed;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	z-index: 7;
}

.preloader {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #d8d8d8;
	overflow: hidden;
	visibility: hidden;
	clip-path: inset(49.85% 100% 49.85% 0%);
}

.word {
	opacity: 0;
	z-index: 6;
}

.york {
	display: inline-grid;
	z-index: 1;

	@include media(">mobile") {
		gap: 0.56vh;
		grid-template-columns: repeat(4, 8.89vh);
	}
	@include media("<=mobile") {
		gap: 0.125rem;
		grid-template-columns: repeat(4, 2rem);
	}
}

.and {
	display: inline;
	background: #ff4040;
	color: #fff;
	font: 600 5.33vh/135.5% "Neue Haas Grotesk Display Pro", Arial, Helvetica,
		sans-serif;
	z-index: 1;

	@include media(">mobile") {
		padding: 0.89vh 2.67vh;
		margin: 0 1.67vh;
	}
	@include media("<=mobile") {
		font-size: 1.2rem;
		line-height: 1.626rem;
		padding: 0.1875rem 0.6rem;
		margin: 0 0.375rem;
	}
}

.dante {
	display: inline-grid;
	z-index: 1;

	@include media(">mobile") {
		gap: 0.56vh;
		grid-template-columns: repeat(5, 8.89vh);
	}
	@include media("<=mobile") {
		gap: 0.125rem;
		grid-template-columns: repeat(5, 2rem);
	}
}

.letter {
	display: flex;
	justify-content: center;
	overflow-y: hidden;

	@include media(">mobile") {
		width: 8.89vh;
		height: 8.89vh;
	}
	@include media("<=mobile") {
		width: 2rem;
		height: 2rem;
	}
}
