.section {
	position: relative;
	width: 310vh;
	height: 100vh;
	display: flex;
	background-color: #4f5964;
	color: #ffffff;
}

.marquee {
	cursor: pointer;
	position: absolute !important;
	height: 14.578vh !important;
	transform: rotate(270deg);
	transform-origin: 71vh 427%;
	margin: 8.78vh 0;
	border: 1px solid #313131;
	&:hover {
		color: transparent;
		text-stroke: 1px rgb(255, 255, 255);
		-webkit-text-stroke: 1px rgb(255, 255, 255);
		transition: all 100ms linear;
	}
}

.marqueeText {
	font: 600 8vh/14.578vh "New York Extra Large", serif;
	letter-spacing: -0.06em;
	padding: 0 3.9vh;
	transition: all 100ms linear;
	&:hover {
		color: inherit;
		text-stroke: inherit;
		-webkit-text-stroke: inherit;
		transition: all 100ms linear;
	}
}

.main {
	position: relative;
	height: 100vh;
	width: 143vh;
	margin-left: 32.178vh;
}

.title {
	font: 600 24vh/98.49% "New York Extra Large", serif;
	letter-spacing: -0.06em;
	white-space: pre-wrap;
}

.title1 {
	composes: title;
	position: absolute;
	top: 18.56vh;
	left: 7.22vh;
	z-index: 1;
}

.image {
	position: absolute;
	top: 5.33vh;
	left: 42.67vh;
	width: 80vh;
	height: 74.78vh;
	z-index: 2;
}

.title2 {
	composes: title;
	position: absolute;
	left: 62.22vh;
	bottom: 7.1vh;
	z-index: 3;
}

.sub {
	height: min-content;
	margin-top: 20vh;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	row-gap: 6vh;
}

.subRow {
	display: flex;
	align-items: center;
}

.subText {
	font: 600 5.33vh/98.49% "New York Extra Large", serif;
	letter-spacing: -0.06em;
	white-space: nowrap;
}

.line1 {
	margin-right: 4.44vh;
}

.line2 {
	margin-left: 4.44vh;
}

.textWrapper {
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 8vh;
	margin-left: auto;
}

.text {
	color: #efefef;
	font: 500 2.35vh/150% "Neue Haas Grotesk Display Pro", Arial, Helvetica,
		sans-serif;
	text-align: justify;
	white-space: pre-wrap;
}
