.section {
	position: relative;
	height: 100vh;
}

.textWrapper {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin-left: 120px;
	z-index: 1;
}

.text {
	font: 600 4.5rem/98.49% "New York Extra Large", serif;
	letter-spacing: -0.06em;
	margin-top: 9.6875rem;
	margin-left: 3.625rem;
}

.button {
	position: absolute;
	bottom: 7rem;
	right: 7.5rem;
}

.videoWrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
