@import "../../common/include-media";

.section {
	position: relative;
	display: flex;
	background-color: #d8d8d8;

	@include media(">mobile") {
		width: 250vh;
		height: 100vh;
		padding: 0 13.33vh;
	}
	@include media("<=mobile") {
		flex-direction: column;
	}
}

.left {
	@include media(">mobile") {
		width: 21%;
		padding-top: 20vh;
		margin-right: 8.89vh;
	}
	@include media("<=mobile") {
		padding: 2.25rem 1.5rem 0;
	}
}

.text {
	color: #121212;
	font: 500 5.33vh/98.49% "New York Extra Large", serif;
	letter-spacing: -0.06em;
	white-space: pre-wrap;

	@include media(">mobile") {
		margin-bottom: 9.2vh;
	}
	@include media("<=mobile") {
		font-size: 2.25rem;
		margin-bottom: 2.5rem;
	}
}

.button {
	width: fit-content;
}

.right {
	position: relative;
	display: flex;
	align-items: flex-start;

	@include media(">mobile") {
		padding-top: 5.2vh;
	}
	@include media("<=mobile") {
		flex-direction: column;
		padding: 4.5rem 0 7.625rem;
		overflow-x: hidden;
	}
}

.image1 {
	z-index: 2;

	@include media(">mobile") {
		padding-left: 12.89vh;
		height: 74.67vh;
	}
	@include media("<=mobile") {
		width: 100%;
		padding: 0 1.5rem;
	}
}

.image {
	z-index: 2;

	@include media(">mobile") {
		height: 75vh;
	}
}

.image2 {
	composes: image;

	@include media(">mobile") {
		margin-left: -20vh;
		padding-top: 1.67vh;
	}
	@include media("<=mobile") {
		width: 105%;
		margin: -7.3125rem -1.5rem -5rem 1.5rem;
	}
}

.image3 {
	composes: image;

	@include media(">mobile") {
		margin-left: -29vh;
		padding-top: 1.67vh;
	}
	@include media("<=mobile") {
		width: 110%;
		margin: 0 1.5rem 0 -2.75rem;
	}
}

.title {
	color: #121212;
	font: 600 24vh/98.49% "New York Extra Large", serif;
	letter-spacing: -0.06em;
	z-index: 1;

	@include media(">mobile") {
		position: absolute;
		bottom: 7vh;
	}
	@include media("<=mobile") {
		width: 100%;
		font-size: 9rem;
		white-space: nowrap;
		margin-top: -4rem;
	}
}
