.app {
	background-color: rgb(250, 238, 224);
}

.wrapper {
	position: relative;
	white-space: nowrap;
	overflow: auto;
	// overflow: hidden;
	width: 100%;
}

.innerWrapper > * {
	position: relative;
	display: inline-block;
}
