@import "./common/include-media";

.app {
	background-color: rgb(250, 238, 224);
	overflow: hidden;
}

.page {
	position: absolute;
	width: 100vw;
	height: 100vh;

	&[data-name="Gallery"] {
		background: #f5f5f5;
	}

	@include media("<=mobile") {
		&[data-name="Credits"] {
			height: initial;
		}
	}

	@include media(">mobile") {
		&[data-name="Home"] {
			div[data-scroll-container] {
				height: 100vh;
				display: inline-block;
				white-space: nowrap;
				section[data-scroll-section] {
					height: 100%;
					display: inline-block;
					white-space: nowrap;
					vertical-align: top;
				}
			}
		}
	}
}
