.nav {
	height: 100vh;
	width: 120px;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	color: #000;
	font: 600 1.5rem "Neue Haas Grotesk Display Pro", Arial, Helvetica,
		sans-serif;
	filter: drop-shadow(1px 0px 1px rgba(0, 0, 0, 0.05));
}

.upper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	line-height: 110%;
	letter-spacing: 0.25rem;
	text-transform: uppercase;
	padding: 1.25rem 0;
	border-bottom: 1px solid #000000;
}

.lower {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.lowerText {
	line-height: 1.8125rem;
	letter-spacing: 0.2rem;
	text-transform: uppercase;
	white-space: nowrap;
	transform: rotate(-90deg);
}

.and {
  background: #ff4040;
	color: #fff;
	padding: 0.1rem 0.5rem;
	margin: 0 0.3rem;
}
