@import "../../common/include-media";

.banner {
	background-color: #000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	z-index: 6;

	@include media(">mobile") {
		padding: 5vh 3vw;
	}
	@include media("<=mobile") {
		padding: 1.75rem 1.5rem;
	}
}

.textOne {
	color: #fff;
	font: 600 7vh/98.49% "New York Extra Large", serif;
	letter-spacing: -0.06em;

	@include media(">mobile") {
		padding-bottom: 1vh;
	}
	@include media("<=mobile") {
		font-size: 3.25rem;
		// padding: 1.9375rem 0 0.75rem;
	}
}
.textTwo {
	color: #e9e9e9;
	text-transform: uppercase;
	font: 500 2.25vh/150% "Neue Haas Grotesk Display Pro", Arial, Helvetica,
		sans-serif;
	letter-spacing: 0.105em;
	white-space: pre-wrap;

	@include media("<=mobile") {
		font-size: 0.8rem;
	}
}
