@import "../../common/include-media";

.section {
	position: relative;
	display: flex;
	background-color: #fff;

	@include media(">mobile") {
		width: 105vw;
		height: 100vh;
	}
	@include media("<=mobile") {
		flex-direction: column;
		padding-top: 2.5rem;
	}
}

.marqueeSection {
	width: 18.85%;
}

.marquee {
	cursor: pointer;
	border: 1px solid #414141;

	@include media(">mobile") {
		position: absolute !important;
		height: 14.638vh !important;
		transform: rotate(270deg);
		transform-origin: 71vh 427%;
		margin: 8.55vh 0;
	}
}

.marqueeText {
	font: 300 8vh/185% "Neue Haas Grotesk Display Pro", Arial, Helvetica,
		sans-serif;
	transition: all 100ms linear;

	@include media(">mobile") {
		padding: 0 3.9vh;
	}
	@include media("<=mobile") {
		font-size: 2.25rem;
		line-height: 98.49%;
		padding: 1.25rem 3.46875rem;
	}
}

.main {
	width: 81.15%;
	display: flex;
	flex-direction: column;
}

.up {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.left {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	margin: 3.77vh 0 0 1vh;
}

.row {
	display: flex;
	align-items: center;
}

.row2 {
	composes: row;
	justify-content: center;
}

.row3 {
	composes: row;
	justify-content: flex-end;
	margin-left: 11.778vh;
}

.line1 {
	margin-right: 2.22vh;
}

.line2 {
	margin-left: 2.22vh;
}

.largeText {
	color: #121212;
	font: 500 8vh/98.49% "New York Extra Large", serif;
	letter-spacing: -0.06em;
}

.right {
	width: 50%;
	display: flex;
	margin: 11.556vh 16vh 0 19.333vh;
}

.smallText {
	font: 500 2.35vh/150% "Neue Haas Grotesk Display Pro", Arial, Helvetica,
		sans-serif;
	white-space: pre-wrap;
}

.down {
	display: flex;
	margin-top: auto;
	margin-left: 5vh;
}

.img {
	width: 120vh;
	height: 66.556vh;
	margin-top: auto;
}
